<!doctype html>
<html>
<head>
    <title>Clean Nest</title>

    <link rel="stylesheet" href="font-awesome.min.css">
    <script src="https://kit.fontawesome.com/fe55a8ead5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="design.css">
</head>
<body>
  <form action="/logout">
    <input class="leave" type="submit" value="Clock Out" />
</form>


<div class="container">

    <div class="keys">
        <h3>Key:</h3>
        <p><i class="fa fa-trash" aria-hidden="true"></i> - Delete log</p>
        <p><i class="fa-solid fa-check"></i> - Cross out log</p>
        <p><i class="fa-solid fa-truck-fast"> - Urgent</i></p>
        <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
    </div>

    <div class="forms">
    <% if (user.local.email) { %>
        <form action="/messages" method="POST">
          <input type="text" placeholder="Client" name="name">
          <input type="text" placeholder="Adress" name="location">
          <input type="date" value="2022-11-12T20:20" name="date">
          <input type="tel" placeholder="Best # to Call" name="cell">
          <textarea placeholder="Additional notes" name="msg"></textarea>      
          <button type="submit">submit</button>
        </form>
        <% } %>
      </div>
      <h3>Client Work:</h3>
      <section class="messages client">
      <% for(var i=0; i<messages.length; i++) {%>
        <section class="message <%= messages[i].completed ? 'strike' : '' %>
          <%= messages[i].blue ? 'blueS' : '' %>
          <%= messages[i].yellow ? 'yellowS' : '' %>
          <%= messages[i].red ? 'redS' : '' %>
          ">
          <span>Client:</span>
          <span class="nameS"><%= messages[i].name %></span>
          <span>Their address :</span>
          <span class="locationS"><%= messages[i].location %></span>
          <span>Appointment For:</span>
          <span class="dateS"><%= messages[i].date %></span>
          <span>Call them at :</span>
          <span class="cellS"><%= messages[i].cell %></span>
          <span>They wanted us to know that:</span>
          <span class="msgS"><%= messages[i].msg %></span>
          <span><i class="fa fa-trash" aria-hidden="true"></i></span>
          <span><i class="fa-solid fa-check"></i></span>
          <span><i class="fa-solid fa-truck-fast"></i></span>

        </section>
      <% } %>
      </ul>


</div>

<script src="main.js"></script>

</body>
</html>


<!-- Worked on this with HOUSE CASS! & Isaiah , Oscar Cory-Mentor  -->
